<div class="col-md-6 login">
     {{#if error}}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {{/if}}
</div>

<div class="col-md-6 login">
     {{#each error_list}}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {{/each }}
</div>
