<div class="jumbotron">
    <h1 class="display-4 welcome">Welcome to VideoJot</h1>
    <h3 style = "margin-left: 400px;">-A place you can share video ideas</h3>
</div>
<footer class="footer" style="text-align:center">&copy;Videojot</footer>
