

    <h1>Add Idea</h1>
    <div class="form-group">
        <form action="/ideas/add" method="post">
            <label for="title">Title:</label>
            <input type="text" name="title" class="form-control col-md-3" placeholder="Add a Title" size="4">
            <label for="details" class="mt-2">Details:</label>
            <textarea class="form-control col-md-3" name="details" placeholder="Add Details" class="mt-2"></textarea>
            <input type="submit" class="btn btn-primary mt-2" value="submit">
    </div>
