<h1>Add Submenu</h1>
<div class="form-group">
    <form action="/ideas/{{title}}/Addsubmenu" method="post">
        <label for="title">SubMenu:</label>
        <input type="text" name="submenu" class="form-control col-md-3" placeholder="Add a Submenu">
        <input type="submit" class="btn btn-primary mt-2" value="submit">
</div>